<div class="row">
  
  <div class="small-12 columns">
    <h1 id="swapadopolis">Swapadopolis</h1>
  </div>
</div>

<div class="row">
  
  <div class="small-12 columns" id="item_box">

    <% for item in @items %>
      <div class="item">
        <div class="item_image" style="background-image:url('<%=item.image_url%>');background-size:cover;">
          <h3 class="title"> <%=item.title%><%=fa_icon "chevron-circle-right", :class=>'icon'%></h3>
        </div>
        <p>Desc:<%=item.desc%></p>
        <p>Price: <%=format_price(item.price)%></p>
        <span>Owner: <%= link_to item.user.email, :class=>'pill' %></span> | 
        <%= link_to('Show',item) %>
      </div>
    <% end %>

  </div>


</div>
