<div class="row">
  
  <div class="small-12 columns">
    <h1>Swapadopolis#index</h1>
    <p>Find me in app/views/swapadopolis/index.html.erb</p>
  </div>
</div>

<div class="row">
  
  <div class="small-12 columns">

    <% for item in @items %>
      <div class="item">
        <div class="item_image" style="background-image:url('<%=item.image_url%>');background-size:cover;">
          <h3 class="title"><%=item.title%></h3>
        </div>
        <p>Desc:<%=item.desc%></p>
        <p>Price:<%=item.price%></p>
        <span>Owner: <%= link_to item.user.email%></span> | 
        <%= link_to 'Show', item %>
      </div>
    <% end %>

  </div>


</div>
