
<%= form_for(@item) do |f| %>

  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="row item_form">
  <div class="small-6 columns">
      <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
      <div class="field">
        <%= f.label :desc %>
        <%= f.text_area :desc %>
      </div>
      <div class="field">
        <%= f.label :price %>
        <%= f.text_field :price, :columns=> 3%>
      </div>
  </div>
  <div class="small-6 columns">
    <div class="field">
      <%= f.label :image %>
      <%= f.file_field :image %>
    </div>
    <div class="field">
      <%= f.label :condition %>
      <%= select_tag(:condition, options_for_select(['poor','fair','excellent'])) %>
    </div>
  </div>

  </div>
  <div class="row">
      <div class="actions">
      <%= f.submit :class=>'button expand' %>
    </div>
  </div>
  <% end %>
</div>

