<div class="item_main">

  <div class="row">
    <div class="small-12 columns" id="item_header_container">
      <% if current_user.name %>
        <h1 id="item_header"><%= current_user.name %>'s Items</h1>
      <% else %>
        <h1 id="item_header">Listing Items</h1>
      <% end %>
    </div>
  </div>
  
  <div class="row">
    <div class="small-12">
      <% @items.each do |item|%>
        <div class="item_container">
          <div class="item_image_container">
            <img src="<%=item.image%>" alt="">
          </div>
          <div class="item_content_container">
            <h3><%= item.title %></h3><span><%= item.price%></span>
            <p><%= item.desc %></p>
            <span><%= item.condition%></span>
          </div>
          <div class="clear"></div>
        </div>
      <%end%>
    </div>
  </div>

</div>

  <!-- <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.title %></td>
        <td><%= item.desc %></td>
        <td><%= item.price %></td>
        <td><%= image_tag item.image_url(:market) if item.image? %></td>
        <td><%= item.condition %></td>
        <td><%= item.user.email %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<br>

<%= link_to 'New Item', new_item_path %>
