<p id="notice"><%= notice %></p>

<div class="row">
  <div class="small-4 columns"><%= image_tag @item.image_url(:market) if @item.image? %></div>
  <div class="small-8 columns">
    <h2><%= @item.title%></h2>
    <p><%= @item.price%></p>
    <p><%= @item.condition %></p>
    <p><%= @item.user.email %></p>
  </div>
</div>
<div class="row">
  <div class="small-12 columns"> <%=@item.desc%></div>
</div>

<!-- <p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @item.desc %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @item.image_url(:thumb) if @item.image? %>
</p>


<p>
  <strong>Condition:</strong>
  <%= @item.condition %>
</p>

<p>
  <strong>User:</strong>
  <%= @item.user %>
</p>
 -->
 <div class="row">
   <div class="small-12 columns">
    <%= link_to 'Edit', edit_item_path(@item) %> |
    <%= link_to 'Back', items_path %>
  </div>
</div>
